:root {
    --primarypurple: rgba(105, 0, 239, 1);
    --typographytitle-darkest: rgba(45, 45, 45, 0.99);
    --typographyinstructions-light: rgba(171, 171, 171, 1);
    --otherspure-white: rgba(255, 255, 255, 1);
    --othersdisabled-dark: rgba(171, 171, 171, 1);
    --functional-statesinactive: rgba(171, 171, 171, 1);
    --text-body-font-family: "Open Sans", Helvetica;
    --text-body-font-weight: 400;
    --text-body-font-size: 14px;
    --text-body-letter-spacing: 0px;
    --text-body-line-height: normal;
    --text-body-font-style: normal;
    --text-header-6-font-family: "Poppins", Helvetica;
    --text-header-6-font-weight: 500;
    --text-header-6-font-size: 16px;
    --text-header-6-letter-spacing: 0px;
    --text-header-6-line-height: normal;
    --text-header-6-font-style: normal;
    --text-header-5-font-family: "Poppins", Helvetica;
    --text-header-5-font-weight: 400;
    --text-header-5-font-size: 20px;
    --text-header-5-letter-spacing: 0px;
    --text-header-5-line-height: normal;
    --text-header-5-font-style: normal;
    --text-header-3-font-family: "Poppins", Helvetica;
    --text-header-3-font-weight: 600;
    --text-header-3-font-size: 28px;
    --text-header-3-letter-spacing: 0px;
    --text-header-3-line-height: normal;
    --text-header-3-font-style: normal;
    --desktop-table-header-font-family: "Open Sans", Helvetica;
    --desktop-table-header-font-weight: 600;
    --desktop-table-header-font-size: 14px;
    --desktop-table-header-letter-spacing: 0.28px;
    --desktop-table-header-line-height: normal;
    --desktop-table-header-font-style: normal;
    --desktop-button-font-family: "Open Sans", Helvetica;
    --desktop-button-font-weight: 600;
    --desktop-button-font-size: 14px;
    --desktop-button-letter-spacing: 0.56px;
    --desktop-button-line-height: normal;
    --desktop-button-font-style: normal;
    --desktop-body-copy-font-family: "Open Sans", Helvetica;
    --desktop-body-copy-font-weight: 400;
    --desktop-body-copy-font-size: 14px;
    --desktop-body-copy-letter-spacing: 0.28px;
    --desktop-body-copy-line-height: normal;
    --desktop-body-copy-font-style: normal;
    --primitives-colors-primary-01: rgba(240, 108, 0, 1);
    --primitives-colors-primary-02: rgba(18, 116, 154, 1);
    --primitives-colors-primary-03: rgba(100, 119, 133, 1);
    --primitives-colors-secondary-01: rgba(97, 57, 139, 1);
    --primitives-colors-background-01: rgba(249, 249, 249, 1);
    --primitives-colors-background-02: rgba(255, 255, 255, 1);
    --primitives-colors-background-03: rgba(248, 249, 250, 1);
    --primitives-colors-border-01: rgba(239, 239, 239, 1);
    --primitives-colors-text-primary: rgba(34, 34, 34, 1);
    --primitives-colors-text-secondary: rgba(73, 80, 87, 1);
    --primitives-colors-text-alt: rgba(102, 102, 102, 1);
    --primitives-colors-misc-01: rgba(57, 61, 71, 1);
    --primitives-colors-misc-02: rgba(254, 232, 213, 1);
    --primitives-colors-misc-03: rgba(101, 215, 237, 1);
    --primitives-colors-misc-04: rgba(231, 234, 236, 1);
    --primitives-colors-misc-05: rgba(237, 246, 248, 1);
  }
  