.USA {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .USA .div {
    background-color: var(--primitives-colors-background-02);
    border: 1px solid;
    border-color: var(--primarypurple);
    width: 1440px;
    height: 1081px;
    position: relative;
  }
  
  .USA .overlap {
    position: absolute;
    width: 1368px;
    height: 634px;
    top: 108px;
    left: 32px;
  }
  
  .USA .overlap-group {
    position: absolute;
    width: 1368px;
    height: 634px;
    top: 0;
    left: 0;
  }
  
  .USA .overlap-2 {
    position: absolute;
    width: 222px;
    height: 208px;
    top: 210px;
    left: 0;
  }
  
  .USA .rectangle {
    position: absolute;
    width: 222px;
    height: 34px;
    top: 174px;
    left: 0;
    background-color: var(--primitives-colors-border-01);
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primitives-colors-primary-01);
  }
  
  .USA .frame {
    display: flex;
    flex-direction: column;
    width: 206px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 8px;
  }
  
  .USA .group {
    position: relative;
    width: 207px;
    height: 21px;
    margin-right: -1.00px;
  }
  
  .USA .text-wrapper {
    position: absolute;
    top: 2px;
    left: 0;
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: var(--primitives-colors-text-secondary);
    font-size: var(--text-body-font-size);
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-style: var(--text-body-font-style);
  }
  
  .USA .rectangle-2 {
    position: absolute;
    width: 104px;
    height: 16px;
    top: 3px;
    left: 38px;
    background: linear-gradient(
      180deg,
      rgb(18, 116, 154) 0%,
      rgb(101, 215, 237) 100%
    );
  }
  
  .USA .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 156px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-text-primary);
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .USA .group-2 {
    position: relative;
    width: 208px;
    height: 21px;
    margin-right: -2.00px;
  }
  
  .USA .rectangle-3 {
    position: absolute;
    width: 98px;
    height: 16px;
    top: 3px;
    left: 38px;
    background: linear-gradient(
      180deg,
      rgb(18, 116, 154) 0%,
      rgb(101, 215, 237) 100%
    );
  }
  
  .USA .rectangle-4 {
    position: absolute;
    width: 94px;
    height: 16px;
    top: 3px;
    left: 38px;
    background: linear-gradient(
      180deg,
      rgb(18, 116, 154) 0%,
      rgb(101, 215, 237) 100%
    );
  }
  
  .USA .overlap-3 {
    position: absolute;
    width: 1360px;
    height: 592px;
    top: 42px;
    left: 8px;
  }
  
  .USA .chart {
    position: absolute;
    width: 888px;
    height: 592px;
    top: 0;
    left: 215px;
    overflow: hidden;
    background-image: url(https://c.animaapp.com/FctAuzDo/img/vector.svg);
    background-size: 100% 100%;
  }
  
  .USA .vector-wrapper {
    position: absolute;
    width: 858px;
    height: 500px;
    top: -1323px;
    left: 1090px;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .USA .img {
    position: absolute;
    width: 858px;
    height: 500px;
    top: 0;
    left: 0;
  }
  
  .USA .overlap-group-2 {
    position: absolute;
    width: 858px;
    height: 500px;
    top: 70px;
    left: 15px;
  }
  
  .USA .clip-path-group-wrapper {
    position: absolute;
    width: 858px;
    height: 500px;
    top: 0;
    left: 0;
    background-image: url(https://c.animaapp.com/FctAuzDo/img/clip-path-group.png);
    background-size: 100% 100%;
  }
  
  .USA .union {
    position: absolute;
    width: 117px;
    height: 72px;
    top: 245px;
    left: 122px;
  }
  
  .USA .text-wrapper-3 {
    position: absolute;
    top: 263px;
    left: 132px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .text-wrapper-4 {
    top: 280px;
    left: 132px;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    font-family: "Poppins", Helvetica;
  }
  
  .USA .text-wrapper-5 {
    position: absolute;
    top: 32px;
    left: 440px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 1.7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .USA .text {
    top: 67px;
    left: 444px;
    font-family: "Inter", Helvetica;
    color: #666666;
    font-size: 1.2px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .text-2 {
    top: 586px;
    left: 15px;
    font-family: "Inter", Helvetica;
    color: #666666;
    font-size: 1.2px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .everviz-com-natural {
    position: absolute;
    top: 582px;
    left: 860px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 0.9px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .USA .span {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 0.9px;
    letter-spacing: 0;
  }
  
  .USA .line {
    position: absolute;
    width: 1360px;
    height: 3px;
    top: 17px;
    left: 0;
  }
  
  .USA .DC-dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 1218px;
  }
  
  .USA .frame-2 {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    padding: 11px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--otherspure-white);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--othersdisabled-dark);
  }
  
  .USA .text-wrapper-6 {
    font-weight: var(--desktop-button-font-weight);
    color: var(--typographytitle-darkest);
    letter-spacing: var(--desktop-button-letter-spacing);
    position: relative;
    width: fit-content;
    font-family: var(--desktop-button-font-family);
    font-size: var(--desktop-button-font-size);
    line-height: var(--desktop-button-line-height);
    font-style: var(--desktop-button-font-style);
  }
  
  .USA .DC-calendar-date {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -1.00px;
    margin-bottom: -1.00px;
  }
  
  .USA .search-field {
    display: flex;
    width: 207px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 12px;
    position: absolute;
    top: 139px;
    left: 8px;
  }
  
  .USA .frame-3 {
    position: relative;
    width: 207px;
    height: 44px;
    background-color: var(--otherspure-white);
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--functional-statesinactive);
  }
  
  .USA .text-wrapper-7 {
    position: absolute;
    top: 12px;
    left: 39px;
    font-family: var(--desktop-body-copy-font-family);
    font-weight: var(--desktop-body-copy-font-weight);
    color: var(--typographyinstructions-light);
    font-size: var(--desktop-body-copy-font-size);
    letter-spacing: var(--desktop-body-copy-letter-spacing);
    line-height: var(--desktop-body-copy-line-height);
    font-style: var(--desktop-body-copy-font-style);
  }
  
  .USA .icons-search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
  }
  
  .USA .union-wrapper {
    position: relative;
    height: 24px;
  }
  
  .USA .union-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
  }
  
  .USA .text-wrapper-8 {
    position: absolute;
    top: 97px;
    left: 8px;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .overlap-wrapper {
    position: absolute;
    width: 200px;
    height: 135px;
    top: 462px;
    left: 15px;
  }
  
  .USA .overlap-4 {
    position: relative;
    width: 192px;
    height: 135px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primitives-colors-misc-04);
  }
  
  .USA .text-wrapper-9 {
    position: absolute;
    height: 16px;
    top: 5px;
    left: 11px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-text-alt);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .text-wrapper-10 {
    position: absolute;
    height: 19px;
    top: 23px;
    left: 11px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-misc-01);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .text-wrapper-11 {
    position: absolute;
    height: 19px;
    top: 107px;
    left: 25px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-misc-01);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .text-wrapper-12 {
    position: absolute;
    height: 19px;
    top: 107px;
    left: 120px;
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-body-font-size);
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-style: var(--text-body-font-style);
  }
  
  .USA .overlap-group-3 {
    position: absolute;
    width: 133px;
    height: 52px;
    top: 53px;
    left: 23px;
  }
  
  .USA .ellipse {
    width: 52px;
    height: 52px;
    top: 0;
    left: 0;
    border-radius: 26px;
    position: absolute;
    border: 1px solid;
    border-color: #2e6ce9;
  }
  
  .USA .ellipse-2 {
    width: 24px;
    height: 24px;
    top: 14px;
    left: 109px;
    border-radius: 12px;
    position: absolute;
    border: 1px solid;
    border-color: #2e6ce9;
  }
  
  .USA .vector {
    position: absolute;
    width: 88px;
    height: 13px;
    top: 2px;
    left: 34px;
  }
  
  .USA .vector-2 {
    position: absolute;
    width: 88px;
    height: 13px;
    top: 38px;
    left: 34px;
  }
  
  .USA .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 98px;
    left: 1160px;
  }
  
  .USA .frame-5 {
    display: flex;
    flex-direction: column;
    width: 131px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .USA .text-wrapper-13 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .text-wrapper-14 {
    position: relative;
    width: fit-content;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-primary-02);
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .line-2 {
    position: relative;
    width: 204px;
    height: 1px;
    object-fit: cover;
  }
  
  .USA .group-3 {
    position: relative;
    width: 210px;
    height: 96px;
    margin-right: -2.00px;
  }
  
  .USA .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-text-alt);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .frame-6 {
    display: flex;
    width: 208px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .USA .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-body-font-size);
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-style: var(--text-body-font-style);
  }
  
  .USA .text-wrapper-17 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: var(--primitives-colors-misc-01);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .frame-7 {
    display: flex;
    width: 208px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 74px;
    left: 0;
  }
  
  .USA .group-4 {
    position: relative;
    width: 213px;
    height: 232px;
    margin-right: -5.00px;
  }
  
  .USA .text-wrapper-18 {
    position: absolute;
    top: 0;
    left: 1px;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-text-alt);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .global-USA-asia {
    position: absolute;
    height: 192px;
    top: 40px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-misc-01);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24.1px;
  }
  
  .USA .element-b-b-b {
    position: absolute;
    top: 40px;
    left: 147px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-primary-03);
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
  }
  
  .USA .frame-8 {
    display: flex;
    flex-direction: column;
    width: 123px;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .USA .text-wrapper-19 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-text-alt);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .element-active-inactive {
    margin-right: -81.00px;
    font-weight: 400;
    color: var(--primitives-colors-misc-01);
    letter-spacing: 0;
    position: relative;
    width: fit-content;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    line-height: normal;
  }
  
  .USA .text-wrapper-20 {
    font-weight: 700;
  }
  
  .USA .text-wrapper-21 {
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: #393d47;
    font-size: var(--text-body-font-size);
    letter-spacing: var(--text-body-letter-spacing);
    font-style: var(--text-body-font-style);
    line-height: var(--text-body-line-height);
  }
  
  .USA .text-wrapper-22 {
    font-weight: var(--text-body-font-weight);
    font-family: var(--text-body-font-family);
    font-style: var(--text-body-font-style);
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-size: var(--text-body-font-size);
  }
  
  .USA .p {
    position: absolute;
    height: 30px;
    top: 6px;
    left: 8px;
    font-family: var(--text-header-5-font-family);
    font-weight: var(--text-header-5-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-header-5-font-size);
    letter-spacing: var(--text-header-5-letter-spacing);
    line-height: var(--text-header-5-line-height);
    font-style: var(--text-header-5-font-style);
  }
  
  .USA .text-wrapper-23 {
    position: absolute;
    height: 19px;
    top: 12px;
    left: 1140px;
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-body-font-size);
    text-align: right;
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-style: var(--text-body-font-style);
  }
  
  .USA .overlap-5 {
    position: absolute;
    width: 1440px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: var(--primitives-colors-primary-03);
  }
  
  .USA .group-5 {
    position: absolute;
    width: 208px;
    height: 37px;
    top: 18px;
    left: 40px;
  }
  
  .USA .frame-wrapper {
    position: absolute;
    width: 391px;
    height: 36px;
    top: 18px;
    left: 525px;
  }
  
  .USA .overlap-group-wrapper {
    height: 36px;
  }
  
  .USA .overlap-group-4 {
    position: relative;
    width: 384px;
    height: 34px;
    top: 1px;
    left: -1px;
  }
  
  .USA .rectangle-5 {
    position: absolute;
    width: 120px;
    height: 34px;
    top: 0;
    left: 0;
    background-color: var(--primitives-colors-misc-04);
    border-radius: 4px;
  }
  
  .USA .frame-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: absolute;
    top: 6px;
    left: 22px;
  }
  
  .USA .name {
    color: var(--primitives-colors-text-primary);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--desktop-table-header-font-family);
    font-weight: var(--desktop-table-header-font-weight);
    font-size: var(--desktop-table-header-font-size);
    letter-spacing: var(--desktop-table-header-letter-spacing);
    line-height: var(--desktop-table-header-line-height);
    font-style: var(--desktop-table-header-font-style);
  }
  
  .USA .name-2 {
    color: var(--primitives-colors-background-02);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--desktop-table-header-font-family);
    font-weight: var(--desktop-table-header-font-weight);
    font-size: var(--desktop-table-header-font-size);
    letter-spacing: var(--desktop-table-header-letter-spacing);
    line-height: var(--desktop-table-header-line-height);
    font-style: var(--desktop-table-header-font-style);
  }
  
  .USA .overlap-6 {
    position: absolute;
    width: 668px;
    height: 277px;
    top: 757px;
    left: 40px;
    background-color: var(--primitives-colors-background-03);
    border-radius: 4px;
  }
  
  .USA .text-wrapper-24 {
    position: absolute;
    top: 11px;
    left: 16px;
    font-family: var(--text-header-6-font-family);
    font-weight: var(--text-header-6-font-weight);
    color: var(--primitives-colors-primary-03);
    font-size: var(--text-header-6-font-size);
    letter-spacing: var(--text-header-6-letter-spacing);
    line-height: var(--text-header-6-line-height);
    font-style: var(--text-header-6-font-style);
  }
  
  .USA .group-6 {
    position: absolute;
    width: 123px;
    height: 27px;
    top: 48px;
    left: 16px;
  }
  
  .USA .group-7 {
    position: absolute;
    width: 125px;
    height: 24px;
    top: 0;
    left: 0;
  }
  
  .USA .text-wrapper-25 {
    position: absolute;
    height: 19px;
    top: 1px;
    left: 0;
    font-family: var(--text-body-font-family);
    font-weight: var(--text-body-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-body-font-size);
    letter-spacing: var(--text-body-letter-spacing);
    line-height: var(--text-body-line-height);
    font-style: var(--text-body-font-style);
  }
  
  .USA .icons-chevron-down {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 99px;
    background-image: url(https://c.animaapp.com/FctAuzDo/img/dc-72-chevron-down.svg);
    background-size: 100% 100%;
  }
  
  .USA .line-3 {
    position: absolute;
    width: 119px;
    height: 2px;
    top: 25px;
    left: 0;
  }
  
  .USA .group-8 {
    position: absolute;
    width: 124px;
    height: 19px;
    top: 14px;
    left: 522px;
  }
  
  .USA .text-wrapper-26 {
    position: absolute;
    height: 19px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-text-primary);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .text-wrapper-27 {
    position: absolute;
    height: 17px;
    top: 1px;
    left: 101px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: var(--primitives-colors-primary-01);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .USA .group-9 {
    position: absolute;
    width: 646px;
    height: 145px;
    top: 116px;
    left: 15px;
  }
  
  .USA .text-3 {
    width: 105px;
    top: 109px;
    left: 0;
    font-family: "Poppins", Helvetica;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .text-4 {
    width: 112px;
    top: 109px;
    left: 139px;
    font-family: "Poppins", Helvetica;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .text-5 {
    width: 104px;
    top: 109px;
    left: 275px;
    font-family: "Poppins", Helvetica;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .text-6 {
    width: 96px;
    top: 109px;
    left: 411px;
    font-family: "Poppins", Helvetica;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .text-7 {
    width: 98px;
    top: 109px;
    left: 538px;
    font-family: "Poppins", Helvetica;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .overlap-7 {
    position: absolute;
    width: 629px;
    height: 80px;
    top: 0;
    left: 4px;
  }
  
  .USA .line-4 {
    position: absolute;
    width: 629px;
    height: 3px;
    top: 39px;
    left: 0;
    object-fit: cover;
  }
  
  .USA .div-wrapper {
    position: absolute;
    width: 82px;
    height: 80px;
    top: 0;
    left: 9px;
  }
  
  .USA .overlap-group-5 {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #f1ecf8;
    border-radius: 40px;
    border: 3px solid;
    border-color: var(--primitives-colors-secondary-01);
  }
  
  .USA .text-wrapper-28 {
    position: absolute;
    top: 28px;
    left: 28px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-primary-03);
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .USA .group-10 {
    position: absolute;
    width: 62px;
    height: 60px;
    top: 9px;
    left: 161px;
  }
  
  .USA .overlap-8 {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #f1ecf8;
    border-radius: 30px;
    border: 3px solid;
    border-color: var(--primitives-colors-secondary-01);
  }
  
  .USA .text-wrapper-29 {
    position: absolute;
    top: 19px;
    left: 18px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-primary-03);
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .USA .group-11 {
    position: absolute;
    width: 52px;
    height: 50px;
    top: 15px;
    left: 298px;
  }
  
  .USA .overlap-9 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #f1ecf8;
    border-radius: 25px;
    border: 3px solid;
    border-color: var(--primitives-colors-secondary-01);
  }
  
  .USA .text-wrapper-30 {
    position: absolute;
    top: 13px;
    left: 13px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--primitives-colors-primary-03);
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .USA .group-12 {
    position: absolute;
    width: 42px;
    height: 40px;
    top: 19px;
    left: 435px;
  }
  
  .USA .overlap-10 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f1ecf8;
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--primitives-colors-secondary-01);
  }
  
  .USA .text-wrapper-31 {
    top: 9px;
    left: 8px;
    font-family: "Poppins", Helvetica;
    color: var(--primitives-colors-primary-03);
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
  }
  
  .USA .group-13 {
    position: absolute;
    width: 42px;
    height: 40px;
    top: 19px;
    left: 561px;
  }
  
  .USA .frame-10 {
    position: absolute;
    width: 664px;
    height: 277px;
    top: 757px;
    left: 732px;
  }
  
  .USA .overlap-11 {
    position: relative;
    width: 668px;
    height: 277px;
    background-color: var(--primitives-colors-background-03);
    border-radius: 4px;
  }
  
  .USA .overlap-group-6 {
    position: absolute;
    width: 613px;
    height: 36px;
    top: 58px;
    left: 16px;
  }
  
  .USA .group-14 {
    position: absolute;
    width: 611px;
    height: 28px;
    top: 3px;
    left: 2px;
  }
  
  .USA .line-5 {
    position: absolute;
    width: 3px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .USA .group-15 {
    position: absolute;
    width: 280px;
    height: 24px;
    top: 115px;
    left: 26px;
  }
  
  .USA .shape-with-text {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -1996px;
    left: 598px;
  }
  
  .USA .text-wrapper-32 {
    position: absolute;
    top: 4px;
    left: 28px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.13px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .USA .text-wrapper-33 {
    position: absolute;
    top: 0;
    left: 208px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: var(--primitives-colors-primary-03);
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .USA .group-16 {
    position: absolute;
    width: 271px;
    height: 24px;
    top: 153px;
    left: 26px;
  }
  
  .USA .group-17 {
    position: absolute;
    width: 270px;
    height: 24px;
    top: 191px;
    left: 26px;
  }
  
  .USA .frame-11 {
    display: flex;
    flex-direction: column;
    width: 271px;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 115px;
    left: 366px;
  }
  
  .USA .group-18 {
    position: relative;
    width: 270px;
    height: 24px;
  }
  
  .USA .shape-with-text-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2111px;
    left: 232px;
  }
  
  .USA .group-19 {
    position: relative;
    width: 269px;
    height: 24px;
  }
  