.element-graphs {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element-graphs .element-graphs-s {
    background-color: var(--primitives-colors-background-02);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--primarypurple);
    width: 1440px;
    height: 1081px;
    position: relative;
  }
  
  .element-graphs .overlap {
    position: absolute;
    width: 1440px;
    height: 96px;
    top: 72px;
    left: 0;
  }
  
  .element-graphs .overlay {
    position: absolute;
    width: 1439px;
    height: 96px;
    top: 0;
    left: 1px;
    background-color: var(--primitives-colors-background-01);
  }
  
  .element-graphs .text-wrapper {
    position: absolute;
    height: 42px;
    top: 25px;
    left: 40px;
    font-family: var(--text-header-3-font-family);
    font-weight: var(--text-header-3-font-weight);
    color: var(--primitives-colors-misc-01);
    font-size: var(--text-header-3-font-size);
    letter-spacing: var(--text-header-3-letter-spacing);
    line-height: var(--text-header-3-line-height);
    font-style: var(--text-header-3-font-style);
  }
  
  .element-graphs .DC-filter {
    left: 1362px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 35px;
  }
  
  .element-graphs .DC-search {
    left: 1309px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 35px;
  }
  
  .element-graphs .line {
    position: absolute;
    width: 1440px;
    height: 3px;
    top: 93px;
    left: 0;
  }
  
  .element-graphs .overlap-group {
    position: absolute;
    width: 1440px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: var(--primitives-colors-primary-03);
  }
  
  .element-graphs .group {
    position: absolute;
    width: 391px;
    height: 36px;
    top: 18px;
    left: 525px;
  }
  
  .element-graphs .frame {
    height: 36px;
  }
  
  .element-graphs .div {
    position: relative;
    width: 363px;
    height: 34px;
    top: 1px;
    left: 20px;
  }
  
  .element-graphs .rectangle {
    position: absolute;
    width: 121px;
    height: 34px;
    top: 0;
    left: 116px;
    background-color: var(--primitives-colors-misc-04);
    border-radius: 4px;
  }
  
  .element-graphs .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  
  .element-graphs .name {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--desktop-table-header-font-family);
    font-weight: var(--desktop-table-header-font-weight);
    color: var(--primitives-colors-background-02);
    font-size: var(--desktop-table-header-font-size);
    letter-spacing: var(--desktop-table-header-letter-spacing);
    line-height: var(--desktop-table-header-line-height);
    font-style: var(--desktop-table-header-font-style);
  }
  
  .element-graphs .name-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--desktop-table-header-font-family);
    font-weight: var(--desktop-table-header-font-weight);
    color: var(--primitives-colors-text-primary);
    font-size: var(--desktop-table-header-font-size);
    letter-spacing: var(--desktop-table-header-letter-spacing);
    line-height: var(--desktop-table-header-line-height);
    font-style: var(--desktop-table-header-font-style);
  }
  
  .element-graphs .img {
    position: absolute;
    width: 208px;
    height: 37px;
    top: 18px;
    left: 40px;
  }
  
  .element-graphs .overlap-2 {
    position: absolute;
    width: 1360px;
    height: 1072px;
    top: 232px;
    left: 40px;
  }
  
  .element-graphs .frame-3 {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .element-graphs .DC-table-column {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .element-graphs .DC-table-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    background-color: var(--primitives-colors-primary-02);
    border: 2px solid;
    border-color: var(--primitives-colors-misc-04);
  }
  
  .element-graphs .name-or-text-based {
    position: relative;
    width: 184px;
    height: 32px;
    margin-top: -1.00px;
    font-family: var(--desktop-button-font-family);
    font-weight: var(--desktop-button-font-weight);
    color: var(--primitives-colors-background-02);
    font-size: var(--desktop-button-font-size);
    letter-spacing: var(--desktop-button-letter-spacing);
    line-height: var(--desktop-button-line-height);
    font-style: var(--desktop-button-font-style);
  }
  
  .element-graphs .DC-table-cell {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-left: -1.00px;
    margin-right: -1.00px;
    background-color: var(--otherspure-white);
    border: 1px solid;
    border-color: var(--functional-statesinactive-light);
  }
  
  .element-graphs .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: var(--desktop-body-copy-font-family);
    font-weight: var(--desktop-body-copy-font-weight);
    color: var(--typographytitle-darkest);
    font-size: var(--desktop-body-copy-font-size);
    letter-spacing: var(--desktop-body-copy-letter-spacing);
    line-height: var(--desktop-body-copy-line-height);
    font-style: var(--desktop-body-copy-font-style);
  }
  
  .element-graphs .div-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-left: -1.00px;
    margin-right: -1.00px;
    background-color: var(--primitives-colors-misc-05);
    border: 1px solid;
    border-color: var(--functional-statesinactive-light);
  }
  
  .element-graphs .DC-table-column-2 {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .element-graphs .DC-table-column-3 {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .element-graphs .name-or-text-based-2 {
    position: relative;
    width: 184px;
    height: 32px;
    margin-top: -1.00px;
    margin-right: -46.00px;
    font-family: var(--desktop-button-font-family);
    font-weight: var(--desktop-button-font-weight);
    color: var(--primitives-colors-background-02);
    font-size: var(--desktop-button-font-size);
    letter-spacing: var(--desktop-button-letter-spacing);
    line-height: var(--desktop-button-line-height);
    font-style: var(--desktop-button-font-style);
  }
  
  .element-graphs .DC-table-column-4 {
    width: 279px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
  }
  
  .element-graphs .text-wrapper-3 {
    position: relative;
    width: 198px;
    height: 32px;
    margin-top: -1.00px;
    font-family: var(--desktop-button-font-family);
    font-weight: var(--desktop-button-font-weight);
    color: var(--primitives-colors-background-02);
    font-size: var(--desktop-button-font-size);
    letter-spacing: var(--desktop-button-letter-spacing);
    line-height: var(--desktop-button-line-height);
    font-style: var(--desktop-button-font-style);
  }
  
  .element-graphs .line-2 {
    position: absolute;
    width: 2px;
    height: 819px;
    top: 30px;
    left: 1px;
  }
  
  .element-graphs .line-3 {
    position: absolute;
    width: 2px;
    height: 848px;
    top: 1px;
    left: 1358px;
  }
  
  .element-graphs .text-wrapper-4 {
    position: absolute;
    height: 19px;
    top: 188px;
    left: 40px;
    font-family: var(--desktop-body-copy-font-family);
    font-weight: var(--desktop-body-copy-font-weight);
    color: var(--primitives-colors-text-alt);
    font-size: var(--desktop-body-copy-font-size);
    letter-spacing: var(--desktop-body-copy-letter-spacing);
    line-height: var(--desktop-body-copy-line-height);
    font-style: var(--desktop-body-copy-font-style);
  }
  
  .element-graphs .rectangle-2 {
    position: absolute;
    width: 12px;
    height: 256px;
    top: 233px;
    left: 1414px;
    background-color: #d9d9d9;
    border-radius: 2px;
  }
  